{% extends 'store/main.html' %}
{% load static %}
{% block content %} 
<style type="text/css">
 {% comment %} .carousel{
    position:relative;
    width:100vh;
    background:#777;
}  {% endcomment %}
.checked{
    color:gold;
}
.sorter{
	display: inline-flex;
    float: right;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
{% if category %}
    <title>{{ category }}</title>
    </head>
    <body>
    <h1>Category: "{{ category }}"</h1>
{% else %}
    <title>All Products</title>
    </head>
    <body>
    <h1> All Products </h1>
    
{% endif %}

</head>
<div class="sorter">
    <label class="sorter-label"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
  </svg> Sort By</label>
  <form class="add-btn" action="{% url 'viewall' %}" method="POST">
  {% csrf_token %}
    <select id="sorter" name="sorter" data-role="sorter" class="sorter-options">
                    <option  value="default">.....</option>
                    <option id="price-low" value="price-low">Price (Low>High)</option>
                    <option id="price-high" value="price-high">Price (High>Low)</option>
                    <option id="latest" value="latest">Latest</option>
                    </select>
                    <input class="add-btn" type="submit" value= "Select">
                    </form>
                     
    </div>
<br>
<br>
<div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <div class="box-element product zoom">
                <div style="text-align:center;"> User Rating <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <img class="thumbnail" src="{{product.imageURL}}">
                <hr>
                <h6><strong> {{product.name}} </strong> <h6>
                
                <h4 style="display:inline-block;float:left">{{product.price|floatformat:2}} &#2547;</h4>
                <button data-product={{product.id}} data-action="add" style="display:inline-block;float:right" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a style="display:inline-block;float:right;margin-right:10px" class="btn btn-outline-success" href="#">View<a>
            </div>
        </div>
       {% endfor %}
    </div>
</body>

{% endblock content %} 