{% extends 'store/main.html' %}
{% load static %}
{% block content %} 
<style type="text/css">
 {% comment %} .carousel{
    position:relative;
    width:100vh;
    background:#777;
}  {% endcomment %}
.checked{
    color:gold;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
{% if category %}
    <title>{{ category.name }}</title>
    <body>
    <h1>Category: "{{ category.name }}"</h1>
{% else %}
    <title>All Products</title>
    <body>
    <h1> All Products </h1>
{% endif %}

</head>
<body>

<div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <div class="box-element product zoom">
                <div style="text-align:center;"> User Rating <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <img class="thumbnail" src="{{product.imageURL}}">
                <hr>
                <h6><strong> {{product.name}} </strong> <h6>
                
                <h4 style="display:inline-block;float:left">{{product.price|floatformat:2}} &#2547;</h4>
                <button data-product={{product.id}} data-action="add" style="display:inline-block;float:right" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a style="display:inline-block;float:right;margin-right:10px" class="btn btn-outline-success" href="#">View<a>
            </div>
        </div>
       {% endfor %}
    </div>
</body>

{% endblock content %} 